<div class="container col-6 mt-5">
  <div class="card">
    <h5 class="card-header">Tipos de comida</h5>
    <div class="card-body">

      <form>
        <!-- Tipo 1 -->
        <label class="form-check-label">Tipo 1</label>
        <div>
          <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedDefault.id"
            (change)="onSelectFood($any($event.target).value)" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let comida of comidas" value={{comida.id}}>
              {{ comida.name }}
            </option>
          </select>
        </div>

        <!-- Tipo 2 -->
        <div *ngIf="showDropDownDish">
          <label class="form-check-label mt-5">Tipo 2</label>
          <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedDefaultFood.id"
            (change)="onSelectSepecific($any($event.target).value)" [ngModelOptions]="{standalone: true}">

            <option *ngFor="let plato of platos" value={{plato.id}}
              (change)="onSelectSepecific($any($event.target).value)">
              {{ plato.name }}
            </option>

          </select>
        </div>


        <!-- Tipo 3 -->
        <div *ngIf="showDropDownSpecific">
          <label class="form-check-label mt-5">Tipo 3</label>
          <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedDefaultSepecific.id"
            [ngModelOptions]="{standalone: true}">
            <option *ngFor="let especifica of especificas" value={{especifica.id}}>
              {{ especifica.name }}
            </option>
          </select>
        </div>

        <!-- Buttons -->
        <div class="m-auto text-center">
          <button class="btn btn-success m-3" type="submit" (click)="onSaveFood()">Guardar</button>
          <button class="btn btn-danger m-3">Limpiar</button>
        </div>
        <!-- textarea -->
        <div class="form-floating mt-5">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
            style="height: 100px">
              {{ pedido | json }}
            </textarea>
          <label for="floatingTextarea2"></label>
        </div>

      </form>

    </div>
  </div>
</div>
<!-- {{ comidas | json }} -->
<br />
<!-- {{ sopas | json }} -->