<select [(ngModel)]="selectedCountry.id" (change)="onSelect($any($event.target).value)"
  [ngModelOptions]="{standalone: true}"
>
  <option *ngFor="let country of countries" value={{country.id}}>
    {{ country.name }}
  </option>
</select>

<div *ngIf="showDropDown">
  <select>
    <option *ngFor="let city of cities" value={{city.id}}>
      {{ city.name }}
    </option>
  </select>
</div>